.main-content {
  background-color: #FFF9E5;
  display: flex;
  padding: 10px;
  
}

.frontpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFF9E5;

    teaser-component {
        width: 100%;
        order: 2;

        @media (--large) {
            width: 33.333333333%;
            order: 1;
            &.hero {
                width: 100%;
                order: 0;
            }
        }
        @media (--xlarge) {
            order: 2;
            width: 25%;

            &:nth-child(2) {
                order: 0;
            }
            &.hero {
                width: 75%;
                order: 1;    
            }        
        }
    }
}