:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.elevate {
  display: flex;
  flex: 1;
  @media (--large) {
    &-content {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      .container &.--with-image {
        padding: 10px 10px 0 0;
      }
      .--opened & {
        align-items: center;
        .container {
          padding: 10px 10px 28% 0;
        }
      }
    }
    &-image {
      // background: blue;
      flex-basis: 0;
      flex-grow: 2;
      flex-shrink: 1;
      .--opened & {
        flex-grow: 1;
      }
    }
  }

  @media (--xlarge) {
    &-content {
      width: 50%;
    }
    &-image {
      flex: 1;
    }
  }
}

.main-content {
  flex: 1;
}

.footer {
  flex: 1;
}
