page-node-tree-page {
    display: block;
}

.cover {
  text-align: center;
  position: relative;
}

.title {
  display: block;
  margin: 1em auto;
}

.subtitle {
  display: block;
  margin: 1em auto;
}


.section-title {
  position: absolute;
  top: 10px;
}